---
---

// Headers
$header-heading-color: #dc60e0;
$header-bg-color: #0c0b40;
$header-bg-color-secondary: #400b40;

// Text
$section-headings-color: #301275;
$body-text-color: #65536e;
$body-link-color: #9646b8;
$blockquote-text-color: #847a91;

// Code
$code-bg-color: #faf3fa;
$code-text-color: #7191a3;

// Borders
$border-color: #f0dcef;
$table-border-color: #ece9ec;
$hr-border-color: #f1eff1;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive {
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
